#fertilizer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

#fertilizer h2 {
    font-size: 2rem;
    color: #28a745;
}

#fertilizer p {
    font-size: 1.1rem;
    color: #555;
    margin: 10px 0;
}
